{% block content %}
    <style>
        body {
                height: 100vh;
                display: flex;
                justify-content: center; /* Centraliza horizontalmente */
                /* align-items: center;     Centraliza verticalmente */
                background-color: #f0f0f0;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

        .container {
            margin: 5px 0;
            width: 50%;
            border: rgb(107, 99, 99) solid 2px;
            border-radius: 10px;
            padding: 5px;
            min-height: 50vh;
            text-align: center;
        }

        .botao-cadastrar-tarefa {
            background-color: #28a745;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Animação suave */
        }
         .botao-cadastrar-tarefa:hover {
            background-color: #218838; /* Cor mais escura no hover */
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
         }

         input {
            margin: 10px 0;
         }
    </style>
    <body>
        <div class="container">
            <form action="" method="post">
            {% csrf_token %}
            
                {{ form }}
                <input class="botao-cadastrar-tarefa" type="submit"  value="Cadastrar" placeholder="Digite a tarefa">
            
            </table>
            
            {% endblock %}
        </div>
    </body>